/*
This file is part of SOS Pomoc application.

SOS Pomoc application is free software: you can redistribute it and/or
modify it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

SOS Pomoc application is distributed in the hope that it will be
useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with SOS Pomoc application.  If not, see
<http://www.gnu.org/licenses/>.
*/

@import "settings";
@import "normalize";
@import "foundation";

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "compass/css3/inline-block";
@import "compass/layout/stretching";
@import "compass/reset";

html, body, #map {
  @include stretch;
}

#powered-by {
  @include stretch(auto, auto, 0, 62px);
  z-index: 1;
  padding: 4px 7px;

  h1 {
    visibility: hidden;
  }

  h2 {
    @include reset-box-model;
  }
}

#map {
  display: block;

  //XXX necessary for Google Maps JavaScript API InfoWindow
  img {
    max-width: none;
  }
}

#filter {
  @include button-group-container;
  position: relative;
  z-index: 2;
  padding: 1em 1em 3em;
  pointer-events: none;

  .tag {
    pointer-events: auto;
  }
}

#create-form {

  form, .toggle-form {
    @include stretch(1em, 1em, auto, auto);
  }

  .toggle-form {
    a {
      @include button;

      span {
        @include inline-block(bottom);
        width: $custom-form-input-size;
        height: $custom-form-input-size;
        margin-right: $button-med;
        background-repeat: no-repeat;
        background-position: -35px;
        background-image: url(/images/checkbox.png);
      }
    }
  }

  form {
    @include panel;

    $creation-width: 500px;

    width: $creation-width;
    margin-left: -$creation-width / 2;

    .close {
      @include stretch(3px, 3px, auto, auto);
      @include alert-close;
    }

    legend {
      font-size: $h3-font-size;
    }

    .categories {
      @include button-group-container;

      & > li {
        @include button-group-style;
        margin-left: 1px;
      }
    }
  }
}

#filter, #create-form {
  .tag {
    @include button;
    @include button-style(#f29b78);

    .custom.checkbox.checked::before {
      content: none;
    }

    .custom.checkbox {
      margin-right: $button-med;
      background-repeat: no-repeat;
      background-position: -35px;
      background-image: url(/images/checkbox.png);
      vertical-align: bottom;
    }

    .custom.checkbox.checked {
      background-position: 0;
    }
  }

  .tag.checked {
    @include button-style($primary-color);
  }
}

.infoBox {
  @include panel;
  font-size: $h5-font-size;

  .description {
    @include stretch-y($panel-padding, 50px);
  }

  .contact {
    @include stretch-y(150, $panel-padding);
  }
}
