<html>
<head>
    <meta lang="cs">
</head>
<body>
<p>
    Výborně!
</p>

<p>
    Zveřejnění Vaší potřeby na mapě SOSpomoc.cz bylo úspěšné.<br/>
    Teď už na ni mohou lidé kdykoliv reagovat. Upravit nebo smazat ji můžete po kliknutí na následující odkaz<br/>
    <br/>
    <a href="<%= edit_link %>"><%= edit_link %></a>
</p>

<p>
    V případě nejasnostní nás prosím kontaktujte na emailu <a href="mailto:sospomoc@adato.cz">sospomoc@adato.cz</a>
</p>

<p>
    S přáním rychlého vyřešení Vašich nesnází,
    <br/>
    tým SOS pomoc.cz
</p>

<a href="http://www.sospomoc.cz"><img alt="www.sospomoc.cz" src="http://www.sospomoc.cz/images/mail-logo.png"></a>
</body>
</html>